.formulario{
	background: url(../image/large.jpg)no-repeat;
	background-size: cover;
	position: relative;
	height: 800px;
}
.cajita{
	background-color: white;
	padding: 20px;
	border-top-color: skyblue;
    border-top-width: 10px;
    border:1px;
}
.cajita 
{
	width: 50%;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.punto{
	color:red;
}
