*{
	


}
body
{
	font-family: Lato;
}
/*--------- Header */
header
{
	background: url(../image/large.jpg);
	background-size: cover;
	color: #FFF;
}
header a{
	color: #FFF;
}
nav li a{
	display: block;
	padding: 15px 15px;
	transition: all 0.2s;
	border-radius: 6px;
}
nav li a:hover, nav li a:focus{
	text-decoration: none;
	outline: none;
	background: #FFF;
}

#main-navigation
{
	z-index: 1;
	position: absolute;
	right: 10px;
	margin: 10px 0 0 0;
}
#main-navigation ul
{
	background: rgba(0,0,0,0.7);
	list-style: none;
	padding: 10px;
	border-radius: 5px;
}
.degradado{
	height: 100%;
	background-color:rgba(22,17,49,0.5);
}
.logo{
	padding-top: 11%;
	width: 100%;
}
.icon-container
{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	line-height: 150px;
	font-size: 40px;
	text-align: center;
	box-shadow: -2px 2px 10px rgba(0,0,0,0.2);
	border-radius: 200px;
	color: skyblue;
	margin-top: 40px;
}


.servicio i {
    font-size: 46px;
    color: #41b0eb;
    border-radius: 100%;
    padding: 54px;
    display: inline-block;
    margin-bottom: 10px;

}

header{
	background: url(../image/large.jpg)no-repeat;
	background-size: cover;
	height: 600px;
}


.frase{
	position: absolute;
	top:50%;
	left: 50%;
	text-align:center; 
    display:table;
    transform: translateX(-50%) translateY(-50%);
    
}
.frase h2{
    font-size: 46px;
    color: white;
}
/*servicio*/
.servicio{
	color: #6baeff;
	margin-top: 50px
}
.servicio p{
	color:#6e8ba7;
	font-size: 20px;
	margin-top: 20px;
	padding-left: 20%;
    padding-right: 20%;
}
.servicio .parrafo {
	text-decoration: none;
	color:black;
	font-size: 14px;
	padding-right: 15%;
	padding-left: 15%;
}
/*SEPARADOR*/
.separador hr{

	margin-top: 10%;
}
.separador img{
	width: 60px;
	margin-top: -57px;
    margin-bottom: 60px;

}

.oscuro .iconos{
	font-size: 40px;
	position: relative;
}
.oscuro .iconos li
{
	list-style: none;
	margin-top: 45px;
    margin-bottom: 65px;
    margin-left: 99%;
}
.oscuro .iconos li i {
    font-size: 25px;
    background: #41b0eb;
    border-radius: 100%;
    padding: 10px;
    display: inline-block;
    color: #fff;
    margin-bottom: 10px;

}
.oscuro .mio{
    width: 50px;
    background-color: white;
    border-radius: 100%;
    float: right;
    position: relative;
    left: 45px;

}
/*relleno2*/
.relleno2 h3{
	color:#68adff;
	font-size: 30px;
}
.relleno2 .logo2{
	width: 200px;
	margin-top: -47px;
    margin-left: 165px;
}
.relleno2 p{
	margin-top: 20px;
}
/*relleno4*/
.relleno4 h3{
	color:#68adff;
	font-size: 30px;
    margin-top: 60px;
}
.relleno4 h4{
	margin-top: 20px;
    font-size: 16px; 
}
.relleno4 li{
    padding-bottom: 2px;
    padding-top: 9px;
}
.relleno4 .logo2{
	width: 200px;
	margin-top: -40px;
    margin-left: 175px;
}
.relleno2 .flecha{
	margin-top: 40px;

}
/*relleno3*/
.relleno3 h4{
	color:#68adff;
    
}
.relleno3 .informacion{	
	font-size: 15px;
	padding-left: 77px;
}
.relleno3 li{
    font-size: 15px;
    padding-bottom: 2px;
    padding-top: 5px;
}
/*separador2*/
.separador2 hr{
	vertical-align: middle;
	margin-top: -1%;
}
.separador2 img{
	width: 60px;
	margin-top: -57px;
    margin-bottom: 60px;
}
/*relleno4*/
.relleno4 .foto{
	width: 100%;
    margin-top: 60px;
}
/*BANNER*/

.banner2{
	background: #4e7eb8;
	opacity: 0.9;
	height: 28%;
	color: #fffdfd;
	margin-top: 50px;
}
.banner2 button{
	color: #fffdfd;
	background-color: #4f7fb8;
	opacity: 0.9;
	border:2px solid  #fffdfd;
	height: 40px;
	font-size: 20px;
}
/*FOOOOTER*/
footer{
	background-color: #2a3541;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
footer h5{
	
	color:white;
}
footer a{
	
	color: #2e6a99;
}
.icon-redes{
	color: #2e5e94;
	list-style: none;
     
}
.icon-redes li{
	font-size: 35px;
	display: inline-block;
}

/**/
.centrar{
	vertical-align:middle;
	display:table-cell;
	margin-bottom: 5%;
}
.centrar-btn{
	margin-top: 5%;
	margin-bottom: 5%;
}
.centrado{
	text-align:center; 
    display:table;
    
}
.banner-header{
	background:  #4f7fb8;
	opacity: 0.9;
	height: 28%;
	color: #fffdfd;
	
	position: static;
}
.banner-header button{
	color: #fffdfd;
	background-color: #4f7fb8;
	opacity: 0.9;
	border:2px solid  #fffdfd;
	height: 40px;
	font-size: 20px;
}

/*background  oscuro*/
.img-fondo
{
	background: url(../image/sec-2.jpg)no-repeat;
	background-size: cover;
	position: relative;
    width: 100%;
}


.navbar-custom .navbar-brand {
  color: blueviolet;
    
}
.navbar button span{
	background-color: white;
    position: absolute;
    left: 14px;
}
.navbar button {
	background-color:yellow;
    position: absolute;
    left: 35px;
    
    
}

@media screen and (max-width:768px)
{
    .relleno2 .logo2{
        width: 160px;
    }
    .frase h2{
        font-size: 23px;
    }
    .relleno4 .logo2{
        width: 160px;
    }
    
}