*{
 
}


body{
    padding: 0;
    margin: 0;
    font-family:cursive;
  
}

header {
    background-size: cover;
    height: 660px;
    background:url(../image/large.jpg)no-repeat;
    background-size: cover;
    
}
.degradado{
    background-color: black;
    opacity: .8;
    height: 680px;
    margin-right:
}

header .img-responsive{
    width: 200px
}

header li a{
    color: white;
    
    font-size: 15px;
    padding-left: 30px
}

header .frase{

    width: 600px;
    margin: 0 auto;
    margin-top: 270px;
    color: white;
    
}
header .frase h2{
    font-size: 40px;
}
.containercaja{
    position: relative;
    top:246px;
     background-color: #4e7fb8;
}
.containercaja .banner{
    padding: 20px;
}
header h3{
    color: white;
    float: right;
}

header .row p{
    font-size: 14px;
    padding-top: 5px;
}
header .row button{
    border-radius: 2px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    padding: 4px;
    position: relative;
    top:30px;
    background-color:#4e7fb8;
}
.hero hr{
    position: relative;
    width: 1167px;
    left: -13px;

    top: 150px
}


.hero 
{
    
    text-align: center;

}
.icon-container{
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin:0 auto;
    font-size: 60px;
    text-align: center;
    box-shadow: -2px 2px 10px black;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 200px;
    color: #a1c2ff;
}

.hero h1{
    text-align: center;
    color: #a1c2ff;
    font-size: 28px;
    margin-bottom: 40px;
}

.hero h3{
    color: #3f8fc5;
}
.hero .uno{
    font-size: 20px;
    width: 120px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.hero .dos{
    font-size: 20px;
    width: 160px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.hero .tres{
    font-size: 20px;
    width: 190px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.hero p{
    margin-left: 45px;
    margin-right: 45px;
}
.hero img {
    margin-bottom: 40px;
    margin-top: 80px;
}
.contenido h1{
    color: #b1d3ff;
    margin-left: 30px
}
.contenido hr{
    position: relative;
    top: 75px;
    width: 680px;
    left: -110px
}

.imagen{
    background: url(../image/sec-2.jpg)no-repeat;
    background-size:cover;
    background-size: 800px;
    height: 520px;
    width: 600px;
    margin-bottom: 90px;
    margin-left: -80px;
}
 .contenido .opaco{
    background-color: black;
    height: 520px;
    width: 600px;
     opacity: .5;
}
.contenido  .icon-contenido1 {
   width: 50px;
    height: 50px;
    line-height: 50px;
    margin:0 auto;
    font-size: 40px;
    text-align: center;
    box-shadow: -2px 2px 10px black;

    border-radius: 200px;
    color: white;
    background-color: #58a5ff;
    position: relative;
    top: -420px;
    left: 300px;
    
}
.contenido  .icon-contenido2 {
   width: 50px;
    height: 50px;
    line-height: 50px;
    margin:0 auto;
    font-size: 40px;
    text-align: center;
    box-shadow: -2px 2px 10px black;
    border-radius: 200px;
    color: white;
    background-color: #58a5ff; 
    position: relative;
    top: -340px;
    left: 300px;
}
.contenido  .icon-contenido3 {
   width: 50px;
    height: 50px;
    line-height: 50px;
    margin:0 auto;
    font-size: 40px;
    text-align: center;
    box-shadow: -2px 2px 10px black;
    border-radius: 200px;
    color:white;
    background-color: #58a5ff;
    position: relative;
    top: -250px;
    left: 300px;
}
.contenido  .icon-contenido4 {
    margin:0 auto;
    text-align: center;
    color: white;
    width: 60px;
    position: relative;
    top: -190px;
    left: 570px;

    
    
}
.contenido .imag{
    margin-top: 230px;
    width: 470px;
    margin-bottom: 80px;
    
}


.contenido h1 img{
    width: 190px;
    
}
.contenido .row h5{

    text-align: center;
    margin-top: 40px;
    margin-bottom: 170px;

}
.contenido h2{
    margin-left: 25px;
    font-size: 26px;
    margin-top: 80px
}
.contenido h3{
    color: blueviolet; font-size: 16px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}
.contenido p{
    margin-left: 35px;
    margin-right: 50px;
    font-size: 13px;
    padding-bottom: 4px;
}
.contenido ul{
    font-size: 13px;
    
    margin-left: 30px
}
.contenido li{
    padding-bottom: 7px;
}
.contenido .row .img-responsive{
    width: 500px
}

.relleno
{
    background-color:#4e7fb8;
    opacity: 0.8;    
    
}
.relleno .container h2{
    color: white;
margin: 0 auto;
    width: 240px;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 30px;
    
}
.relleno .row p{
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
}
.relleno .row button{
    border-radius: 4px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    position: relative;
    left: 120px;
    background-color:#4e7fb8; 
    padding: 3px 25px 3px 25px;
    top: 40px;
}

footer{
    
    margin: 0 auto;
    
    color: white;
    background-color: #1c1821;
    padding: 30px;
}
footer ul{
    list-style: none;
}
footer ul li{
    padding: 5px;
    font-size: 12px;
}
footer a{
    color: darkturquoise;
}
footer p{
    font-size: 12px;
    float: right;
    margin-bottom: 0;
    margin-top: 40px;
    margin-left: 365px

    
}
footer i{
    font-size:30px;
    color: blue;
    float: right;
    

    
}

@media screen and (max-width:999px){
    .container{
        width: 100%;
    }
    .list-inline{
        display: none;
    }
    header{
        width: 100%;
    }
    .containercaja .banner{
        transform: translateY(-25px);
    }
    .containercaja {
        transform: translateY(-25px);
    }
    header .frase{
        font-size: 12px;
    }
    .relleno .row button{
        transform: translateY(-43px);
    }
    .list-inline{
        display: none;
}


@media screen and ( max-width:600px){
     
    .container{
        width: 100%;
    }
    .list-inline{
        display: none;
    }
    
    .col-md-6, .col-md-4, .col-md-7, col-md-5{
        width: 100%;
    }
    .block-form{
        margin: 0;
    }
    
    
}